### 1. User-Defined Function (5 Questions)

##### 1. Write a function to calculate the factorial of a number (without recursion).

In [3]:
def factorial(n):
    result = 1
    for i in range(1, n+1):   # multiply numbers from 1 to n
        result = result * i
    return result

In [4]:
factorial(7)

5040

##### *****2. Write a function to check if a number is Armstrong or not.

In [5]:
def is_armstrong(num):
    digits = list(map(int, str(num)))   # convert each digit to integer
    power = len(digits)                 # number of digits
    total = sum(d ** power for d in digits)
    
    if total == num:
        print(num, "is an Armstrong number")
    else:
        print(num, "is NOT an Armstrong number")

In [6]:
is_armstrong(153)

153 is an Armstrong number

In [7]:
is_armstrong(134)

134 is NOT an Armstrong number

##### 3. Write a function that takes a list of numbers and returns only even numbers.

In [8]:
def get_even_numbers(numbers):
    evens = []
    for n in numbers:
        if n % 2 == 0:   # check even
            evens.append(n)
    return evens

In [9]:
numbers = (1,2,3,4,5,6,7,8,9)
get_even_numbers(numbers)

[2, 4, 6, 8]

##### 4. Write a function that takes a string and returns the reverse of the string.

In [10]:
def reverse_string(s):
    return s[::-1]

In [11]:
s = "hsihsak"
reverse_string(s)

'kashish'

##### *****5. Write a recursive function to calculate Fibonacci series up to n terms.

In [13]:
def fib(n):
    if n <= 1:            # base case
        return n
    return fib(n-1) + fib(n-2)

n = int(input("Enter number of terms: "))
for i in range(n):
    print(fib(i), end=" ")

Enter number of terms:  10

0 1 1 2 3 5 8 13 21 34

### 2. Lambda Function (5 Questions)

##### 6. Write a lambda function to find the maximum of two numbers.

In [14]:
maximum = lambda a, b: a if a > b else b
print("Maximum:", maximum(56, 35))

Maximum: 56

##### 7. Write a lambda function to count vowels in a given string.

In [15]:
count_vowels = lambda s: sum(1 for ch in s.lower() if ch in "aeiou")
text = "Hello World"
print("Vowel count:", count_vowels(text))

Vowel count: 3

##### 8. Use a lambda with map() to convert a list of integers into their cubes.

In [16]:
nums = [1, 2, 3, 4, 5]
cubes = list(map(lambda x: x**3, nums))

print("Cubes:", cubes)

Cubes: [1, 8, 27, 64, 125]

##### 9. Use a lambda with filter() to find numbers divisible by 5 from a list.

In [17]:
nums = [10, 15, 23, 50, 7, 100]
divisible_by_5 = list(filter(lambda x: x % 5 == 0, nums))

print("Divisible by 5:", divisible_by_5)

Divisible by 5: [10, 15, 50, 100]

##### 10. Use reduce() with lambda to find the product of all numbers in a list.

In [18]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, nums)

print("Product of list:", product)

Product of list: 120

### 3. List Comprehension (5 Questions)

##### 11. Create a list of squares of numbers from 1 to 20 using list comprehension.

In [19]:
squares = [x**2 for x in range(1, 21)]
print("Squares:", squares)

Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

##### 12. Extract all words starting with vowel from a list of words.

In [20]:
words = ["apple", "banana", "orange", "grapes", "umbrella", "cat"]
vowel_words = [w for w in words if w[0].lower() in "aeiou"]

print("Words starting with vowel:", vowel_words)

Words starting with vowel: ['apple', 'orange', 'umbrella']

##### 13. Generate a list of tuples (x, x^2) for numbers from 1 to 10.

In [21]:
tuples_list = [(x, x**2) for x in range(1, 11)]
print("Tuples:", tuples_list)

Tuples: [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

##### 14. Flatten a 2D list using list comprehension.

In [22]:
matrix = [[1, 2], [3, 4], [5, 6]]
flattened = [num for row in matrix for num in row]

print("Flattened list:", flattened)

Flattened list: [1, 2, 3, 4, 5, 6]

##### 15. Create a list of prime numbers between 1 and 50 using list comprehension.

In [23]:
primes = [x for x in range(2, 51) if all(x % i != 0 for i in range(2, int(x**0.5)+1))]
print("Primes:", primes)

Primes: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 4. Class (5 Questions)

##### 16. Create a class Student with attributes name and marks, and a method to display details.

In [24]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def display(self):
        print(self.name, self.marks)

In [25]:
s = Student("Alice", 85)
s.display()

Alice 85

##### 17. Create a class BankAccount with deposit and withdraw methods.

In [26]:
class BankAccount:
    def __init__(self):
        self.balance = 0

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount

    def show_balance(self):
        print("Balance:", self.balance)

In [27]:
acc = BankAccount()
acc.deposit(1000)
acc.withdraw(50)
acc.show_balance()

Balance: 950

##### 18. Create a class Circle with a method to calculate area and circumference.

In [28]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

    def circumference(self):
        return 2 * math.pi * self.radius

In [29]:
c = Circle(5)
print("Area:", c.area())
print("Circumference:", c.circumference())

Area: 78.53981633974483
Circumference: 31.41592653589793

##### 19. Create a class Employee that increases salary by 10%.

In [30]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def increase_salary(self):
        self.salary *= 1.1  # Add 10%
        print("New salary:", self.salary)

In [31]:
e = Employee("vicky", 20000)
e.increase_salary()

New salary: 22000.0

##### 20. Create a class Car with methods to start, stop, and display status.

In [32]:
class Car:
    def __init__(self):
        self.running = False

    def start(self):
        self.running = True
        print("Car started")

    def stop(self):
        self.running = False
        print("Car stopped")

    def status(self):
        if self.running:
            print("Car is running")
        else:
            print("Car is stopped")

# Example
my_car = Car()
my_car.start()
my_car.status()
my_car.stop()
my_car.status()

Car started
Car is running
Car stopped
Car is stopped

### 5. Inheritance (5 Questions)

##### 21. Create a base class Animal and a derived class Dog that overrides a method.

In [33]:
class Animal:
    def sound(self):
        print("Some sound")

class Dog(Animal):
    def sound(self):
        print("Bark")

# Test
a = Animal()
a.sound()  # Some sound

d = Dog()
d.sound()  # Bark

Some sound
Bark

##### *****22. Create a base class Shape with method area(). Inherit Rectangle and Circle classes to 
##### implement area calculation.

In [34]:
class Shape:
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, w, h):
        self.w = w
        self.h = h
    def area(self):
        return self.w * self.h

class Circle(Shape):
    def __init__(self, r):
        self.r = r
    def area(self):
        return 3.14 * self.r * self.r

# Test
print(Rectangle(5,3).area())  # 15
print(Circle(4).area())       # 50.24

15
50.24

##### *****23. Create a Person class and inherit Student and Teacher from it with additional attributes.

In [1]:
# Parent class
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Child class
class Student(Person):
    def __init__(self, name, age, roll):
        Person.__init__(self, name, age)   # call parent
        self.roll = roll

class Teacher(Person):
    def __init__(self, name, age, subject):
        Person.__init__(self, name, age)
        self.subject = subject

# Create objects
s = Student("Kiki", 20, "S101")
t = Teacher("Rao", 40, "Math")

# Print details
print("Student:", s.name, s.age, s.roll)
print("Teacher:", t.name, t.age, t.subject)

Student: Kiki 20 S101
Teacher: Rao 40 Math

##### 24. Create a Vehicle class and inherit Car and Bike with their specific features.

In [36]:
class Vehicle:
    def __init__(self, brand):
        self.brand = brand

class Car(Vehicle):
    def wheels(self):
        return 4

class Bike(Vehicle):
    def wheels(self):
        return 2

# Test
print(Car("Toyota").wheels())  # 4
print(Bike("Honda").wheels())  # 2

4
2

##### 25. Demonstrate multiple inheritance with a StudentAthlete class (inheriting from Student 
##### and Athlete).

In [37]:
class Student:
    def study(self):
        print("Studying")

class Athlete:
    def play(self):
        print("Playing sports")

class StudentAthlete(Student, Athlete):
    pass

# Test
sa = StudentAthlete()
sa.study()  # Studying
sa.play()   # Playing sports

Studying
Playing sports

### *****6. Polymorphism (5 Questions)

##### 26. Create two classes Cat and Dog with the same method speak(). Demonstrate 
##### polymorphism.

In [38]:
class Cat:
    def speak(self):
        print("Meow")

class Dog:
    def speak(self):
        print("Bark")

# Both work the same way
for animal in [Cat(), Dog()]:
    animal.speak()

Meow
Bark

##### 27. Demonstrate operator overloading by implementing addition of two Vector objects.

In [39]:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def show(self):
        print(self.x, self.y)

# Test
v1 = Vector(2, 3)
v2 = Vector(5, 7)
(v1 + v2).show()  # 7 10

7 10

##### 28. Demonstrate method overloading using default parameters.

In [40]:
class Math:
    def add(self, a, b=0):
        return a + b

m = Math()
print(m.add(5,3))  # 8
print(m.add(5))    # 5

8
5

##### 29. Create a base class Shape with draw() method and override it in derived classes.

In [41]:
class Shape:
    def draw(self):
        print("Drawing shape")

class Rectangle(Shape):
    def draw(self):
        print("Drawing rectangle")

class Circle(Shape):
    def draw(self):
        print("Drawing circle")

Rectangle().draw()  # Drawing rectangle
Circle().draw()     # Drawing circle

Drawing rectangle
Drawing circle

##### 30. Demonstrate duck typing with classes having the same method name.

In [42]:
class Bird:
    def fly(self):
        print("Bird flying")

class Airplane:
    def fly(self):
        print("Airplane flying")

def lets_fly(obj):
    obj.fly()  # Doesn't matter what type it is

lets_fly(Bird())      # Bird flying
lets_fly(Airplane())  # Airplane flying

Bird flying
Airplane flying

### 7. Encapsulation (5 Questions)

##### 31. Create a class Account with private balance attribute and provide methods to deposit 
##### and withdraw.

In [43]:
class Account:
    def __init__(self, balance):
        self.__balance = balance  # private

    def deposit(self, amount):
        self.__balance += amount
        print("Balance:", self.__balance)

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
        print("Balance:", self.__balance)


acc = Account(1000)
acc.deposit(500)
acc.withdraw(200)

Balance: 1500
Balance: 1300

##### 32. Create a class with private attributes and use getter and setter methods to access them.

In [44]:
class Person:
    def __init__(self, name):
        self.__name = name  # private

    def get_name(self):
        return self.__name

    def set_name(self, name):
        self.__name = name

In [45]:
a = Person("kashish")
print(a.get_name())
a.set_name("vicky")
print(a.get_name())

kashish
vicky

##### 33. Demonstrate name mangling with private variables.

In [46]:
class Test:
    def __init__(self):
        self.__secret = 123

In [47]:
t = Test()
t._Test__secret

123

##### 34. Create a class Bank with encapsulated methods to show account details securely.

In [48]:
class Bank:
    def __init__(self, balance):
        self.__balance = balance

    def show_balance(self):
        print("Balance:", self.__balance)

    def deposit(self, amount):
        self.__balance += amount

# Test
b = Bank(5000)
b.show_balance()
b.deposit(1000)
b.show_balance()

Balance: 5000
Balance: 6000

##### 35. Demonstrate encapsulation by restricting access to class attributes.

In [49]:
class Product:
    def __init__(self, price):
        self.__price = price  # private

    def get_price(self):
        return self.__price

    def set_price(self, price):
        if price > 0:
            self.__price = price

# Test
item = Product(500)
print(item.get_price())
item.set_price(600)
print(item.get_price())

500
600

### 8. Datetime Module (5 Questions)

##### 36. Write a program to display the current date and time.

In [50]:
import datetime

print(datetime.datetime.now())

2025-09-18 21:24:54.925074

##### 37. Write a program to calculate a person’s age from their date of birth.

In [51]:
from datetime import date

dob = date(2000, 5, 15)
today = date.today()
age = today.year - dob.year
print("Age:", age)

Age: 25

##### 38. Write a program to find the difference in days between two given dates.

In [52]:
from datetime import date

d1 = date(2025, 9, 15)
d2 = date(2025, 10, 1)
print((d2 - d1).days)

16

##### 39. Write a program to print the date 30 days from today.

In [53]:
from datetime import date, timedelta

print(date.today() + timedelta(days=30))

2025-10-18

##### 40. Write a program to format today’s date as “DD/MM/YYYY” and “YYYY-MM-DD”.

In [54]:
from datetime import date

today = date.today()
print(today.strftime("%d/%m/%Y"))
print(today.strftime("%Y-%m-%d"))

18/09/2025
2025-09-18

### 9. Math Module (5 Questions)

##### 41. Write a program to calculate factorial using math.factorial().

In [56]:
import math
num = int(input("Enter the number: "))
math.factorial(num)

Enter the number:  8

40320

##### 42. Write a program to find the greatest common divisor (GCD) of two numbers.

In [57]:

a = 36
b = 60
gcd = math.gcd(a, b)
print("GCD of", a, "and", b, "is:", gcd)

GCD of 36 and 60 is: 12

##### 43. Write a program to calculate square root, power, and logarithm using math module.

In [58]:
import math
num = int(input("Enter the number:"))
print("Square root of", num, ":", math.sqrt(num))

Enter the number: 25

Square root of 25 : 5.0

In [59]:
print("2 power 3:", math.pow(2, 3))

2 power 3: 8.0

In [60]:
print("Logarithm of 10 (base e):", math.log(10))

Logarithm of 10 (base e): 2.302585092994046

##### 44. Write a program to generate random numbers between 1 and 100 (using math and 
##### random).

In [61]:
import random

# Random integer between 1 and 100
num = random.randint(1, 100)
print("Random number:", num)

Random number: 93

##### 45. Write a program to convert radians to degrees and vice versa.

In [62]:
import math

print(math.degrees(math.pi))  # π rad → 180°
print(math.radians(180))      # 180° → π rad

180.0
3.141592653589793

In [63]:
radians = math.pi   # 3.14159...
degrees = math.degrees(radians)
print("Radians to Degrees:", degrees)   # 180°

deg = 180
rad = math.radians(deg)
print("Degrees to Radians:", rad)       # 3.14159...

Radians to Degrees: 180.0
Degrees to Radians: 3.141592653589793

### 10. Regular Expression Module (5 Questions)

##### 46. Write a regex to check if a string is a valid email address.

In [64]:
import re
email = "abc@example.com"
if re.match(r".+@.+\..+", email):
    print("Valid email")

Valid email

##### 47. Write a regex to extract all numbers from a string.

In [65]:
import re
text = "I have 2 apples and 15 oranges"
print(re.findall(r"\d+", text))  # ['2', '15']

['2', '15']

##### *****48. Write a regex to validate if a string is a valid Indian mobile number (10 digits).

In [66]:
import re
num = "9876543210"
if re.match(r"[6-9]\d{9}$", num):
    print("Valid number")

Valid number

##### 49. Write a regex to find all words starting with a capital letter in a sentence.

In [67]:
import re
text = "Hello World Python"
print(re.findall(r"\b[A-Z]\w*", text))  # ['Hello', 'World', 'Python']

['Hello', 'World', 'Python']

##### 50. Write a regex to replace all spaces in a string with a hyphen.

In [68]:
import re
text = "Hello World Python"
print(re.sub(r"\s+", "-", text))  # Hello-World-Python

Hello-World-Python

## END!!!!