### 1. String (5 Questions)

##### 1. Check if a given string is a palindrome.

In [59]:
r = input("Enter the word:")
word = r.lower()
Reverse = word[::-1]
if word == Reverse:
    print("It is a Palindrome")
else:
    print("It is not a Palindrome")

Enter the word: racecar

It is a Palindrome

##### 2. Count the number of vowels in a string and store the result in a dictionary.

In [61]:
def count_vowels(word):
    """This Function count the vowel in the word."""
    word = word.lower()
    a = e = i = o = u = 0
    for ch in word:
        if ch == "a":
            a += 1
        elif ch == "e":
            e += 1
        elif ch == "i":
            i += 1
        elif ch == "o":
            o += 1
        elif ch == "u":
            u += 1
            
    return {"a": a, "e": e, "i": i, "o": o, "u": u}

In [62]:
count_vowels("kashish")

{'a': 1, 'e': 0, 'i': 1, 'o': 0, 'u': 0}

In [63]:
count_vowels(" hi my name is kashish")

{'a': 2, 'e': 1, 'i': 3, 'o': 0, 'u': 0}

In [64]:
s = "education"
vowels = "aeiou"
count = {v:s.count(v) for v in vowels}
for v in vowels:
    print(count)

{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}

##### 3. Convert the first letter of each word in a string to uppercase (title case manually).

In [65]:
w = input("Sentence:").title()
print(w)

Sentence: today is my birthday

Today Is My Birthday

##### 4. Find the most frequently occurring character in a string.

In [66]:
s1 = "banana"
freq = {ch:s.count(ch) for ch in s1}
print(max(freq,key = freq.get))

a

##### 5. Count digits, alphabets, and special characters separately in a string.

In [61]:
w = input("Enter a string:")
digit = 0
alphabet = 0
special = 0

for ch in w:
    if ch.isalpha():
        alphabet += 1
    elif ch.isdigit():
        digit += 1
    else:
        special += 1   
print("alphabet",alphabet,"digit",digit,"special",special)

Enter a string: Hello123@

alphabet 5 digit 3 special 1

### 2. List (5 Questions)

##### 6. Remove duplicate elements from a list without using set().

In [67]:
list = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
new_list =[]

for i in list:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[1, 2, 3, 4, 5]

##### 7. Reverse a list without using built-in functions.

In [68]:
list = [0,9,8,7,6,5,4,3,2,1]
list = list[::-1]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [69]:
# if list have duplicate value 1st remove duplicate value converting in into set. then sort it in ascending order !

##### 8. Find the 2nd largest and 2nd smallest element in a list.

In [70]:
numbers = [55,21,98,400,12456,34,1,20]
n = sorted(numbers)
second_smallest = n[1]
second_largest = n[-2]

print("2nd smallest:",second_smallest,"2nd largest:",second_largest)
print(n)

2nd smallest: 20 2nd largest: 400
[1, 20, 21, 34, 55, 98, 400, 12456]

##### 9. Store the square of each element of a list into a new list (using list comprehension).

In [71]:
l1 = [1,2,3,4,5,6,7,8,9,10]
[i**2 for i in l1]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##### 10. Flatten a nested list into a single list.

In [72]:
nested = [[1,2],[3,4],[5,6]] # 1st way 
[x for sub in nested for x in sub]

[1, 2, 3, 4, 5, 6]

In [73]:
l1 = [[1,2],[3,4],[5,6]] # 2nd way
list = []
for i in l1:
    for j in i:
        list.append(j)
print(list)

[1, 2, 3, 4, 5, 6]

### 3. Tuple (5 Questions)

##### 11. Reverse a tuple without using [::-1].

In [1]:
t = (1, 2, 3, 4, 5)

l1 = list(t)    # tuple → list 
l1.reverse()     # reverse the list
t1 = tuple(l1)  # list → tuple

print("Reversed tuple:", t1)

Reversed tuple: (5, 4, 3, 2, 1)

##### 12. Extract unique elements from a tuple and store them in a new list.

In [76]:
tuple = (1,"hii",True,2,4,False,[9,8,7,6],2,1,4,6,6,7)
unique = []
for i in tuple:
    if i not in unique:
        unique.append(i)
print(unique)

[1, 'hii', 2, 4, False, [9, 8, 7, 6], 6, 7]

##### 13. Concatenate two tuples and sort them.

In [2]:
t1 = (55,77,33,22,88,11)
t2 = (10,92,38,74,56)
Concatenate = t1 + t2
sort = tuple(sorted(Concatenate))
print(sort)

(10, 11, 22, 33, 38, 55, 56, 74, 77, 88, 92)

##### 14. Count the frequency of an element in a tuple without using count().

In [54]:
a1 = (3,6,5,9,5,3,6,7,6,5,2,7,8,9,4,5,7,2,1,4) # 1st way
element = int(input("Enter the element:"))
count = 0
for i in a1:
    if i == element:
        count += 1
print("element",element,"--","count",count)

Enter the element: 5

element 5 -- count 4

In [55]:
t = (3,6,5,9,5,3,6,7,6,5,2,7,8,9,4,5,7,2,1,4)  # 2nd way
element = int(input("Enter the element:"))
count = sum(1 for x in t if x == element)
print("Count", count)

Enter the element: 5

Count 4

##### 15. From a tuple of numbers, create two tuples: one with even numbers and one with odd numbers

In [56]:
n = (1,2,3,4,5,6,7,8,9,0)
even = []
odd = []
for i in n:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
even = tuple(even)
odd = tuple(odd)
print("even",even)
print("odd",odd)

even (2, 4, 6, 8, 0)
odd (1, 3, 5, 7, 9)

In [57]:
t = (1,2,3,4,5,6,7,8,9,0)
even = tuple(i for i in t if i % 2 == 0)
odd = tuple(i for i in t if i % 2 != 0)
print("Even",even)
print("Odd",odd)

Even (2, 4, 6, 8, 0)
Odd (1, 3, 5, 7, 9)

### 4. Set (5 Questions)

##### 16. Perform union, intersection, and difference of two sets without using built-in operators.

In [15]:
# Union
A = {1,2,3}
B = {4,5,6}
set = A|B
print("Union:", set)

Union: {1, 2, 3, 4, 5, 6}

In [4]:
# Intersection
A = {1,2,3,4}
B = {3,4,5,6}
intersection_set = A & B
print("Intersection:",intersection_set)

Intersection: {3, 4}

In [5]:
# difference
A = {1,2,3,4}
B = {3,4,5,6}
diff1 = A - B
diff2 = B - A
print("A - B:",diff1)
print("B - A:",diff2)

A - B: {1, 2}
B - A: {5, 6}

##### 17. Remove a random element from a set (without using pop()).

In [11]:
import random
s = {1,2,3,4,5,6,7,8,9,0} # set
x = list(s) # converting set into list
y = random.choice(x)  # it will pick any random element
s.remove(y) # and remove that random element from set

print("Removed:",y)
print("Updated:",s)

Removed: 1
Updated: {0, 2, 3, 4, 5, 6, 7, 8, 9}

##### 18. Convert a list into a set and check if duplicates are removed.

In [24]:
l1 = [2,2,4,4,5,5,6,6,6,7,7,7]
s1 = set(l1)
print(s1)

{2, 4, 5, 6, 7}

##### 19. Check if two sets are disjoint.

In [46]:
a ={1,2}
b ={3,4}
a.isdisjoint(b)

True

##### 20. Find the sum of all elements in a set.

In [48]:
q = {10,129,1238,12347,123456}
sum(q)

137180

### 5. Dictionary (5 Questions)

##### 21. Create a dictionary and print keys in ascending order.

In [2]:
my_dict = {"c": 3, "a": 1, "b": 2}             # 1st way

print("Original Dictionary:", my_dict)
print("Keys in ascending order:", sorted(my_dict.keys()))

Original Dictionary: {'c': 3, 'a': 1, 'b': 2}
Keys in ascending order: ['a', 'b', 'c']

In [3]:
dict = {"c": 3, "a": 1, "b": 2}      # 2nd way 
s=sorted(dict.keys())
print(s)

['a', 'b', 'c']

##### 22. Add a new key to a dictionary with value equal to the sum of existing values.

In [4]:
d = {"a": 10, "b": 20, "c": 30} 
d_total = sum(d.values())
print(d_total)

60

##### 23. Merge two dictionaries into one.

In [5]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [6]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

d2.update(d1)
print(d2)

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

In [7]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
merged = {**d1,**d2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

##### 24. Find the key with the largest value in a dictionary.

In [8]:
d = {"a": 50, "b": 150, "c": 100}
max_key = max(d, key=d.get)
print(max_key)

b

##### 25. Store the frequency of characters of a string in a dictionary.

In [58]:
s = "chocolate"
freq = {ch: s.count(ch) for ch in set(s)}
print(freq)

{'h': 1, 'c': 2, 'o': 2, 'l': 1, 't': 1, 'a': 1, 'e': 1}

### 6. Conditional Statements (5 Questions)

##### 26. Take age as input and check if the person is eligible to vote or not.

In [3]:
def Eligibility():
    age = int(input("Enter your age: "))
    if age >= 18:
        print("You are eligible to vote.")
    else:
        print("You are not eligible to vote.")

In [5]:
Eligibility()

Enter your age:  21

You are eligible to vote.

##### 27. Find the largest among three numbers (using nested if).

In [8]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b:
    if a >= c:
        print("Largest number is:", a)
    else:
        print("Largest number is:", c)
else:
    if b >= c:
        print("Largest number is:", b)
    else:
        print("Largest number is:", c)

Enter first number:  10
Enter second number:  56
Enter third number:  38

Largest number is: 56

In [13]:
a,b,c = 10,20,30
if a > b and a > c:
    print("Largest number is:",a)
elif b > a and b > c:
    print("Largest number is:",b)
else:
    print("Largest number is:",c)

Largest number is: 30

In [14]:
a,b,c = 10,20,30
print("Largest number is:",max(a,b,c))

Largest number is: 30

##### 28. Check if a given number is prime or not.

In [19]:
n = int(input("enter a number "))
if n <= 1:
    print("Not a prime number")
elif n==2  or n==3:
    print("It is a prime number")
else:
    for i in range(2,n):  # its check that if n is divisible by any number between 2 and n-1 if yes then its not a prime number,
        if n % i == 0 :
            print("Not a prime number")
            break
    else:
        print("It is a prime number")

enter a number  55555547951

Not a prime number

##### 29. Assign grade (A, B, C, Fail) based on marks input.

In [1]:
def assign_grade():
    marks = int(input("Enter your marks: "))
    if marks >= 90:
        print("Grade: A")
    elif marks >= 75:
        print("Grade: B")
    elif marks >= 50:
        print("Grade: C")
    else:
        print("Grade: Fail")

In [2]:
assign_grade()

Enter your marks:  75

Grade: B

##### 30. Check if a number is positive, negative, or zero.

In [6]:
def check_number():
    num = int(input("Enter a number: "))
    if num > 0:
        print("The number is Positive.")
    elif num < 0:
        print("The number is Negative.")
    else:
        print("The number is Zero.")

In [7]:
check_number()

Enter a number:  -1

The number is Negative.

### 7. Loops – For & While (5 Questions)

##### 31. Print the first 10 numbers of the Fibonacci series using for loop.

In [63]:
a,b = 0,1
for _ in range(10):
    print(a,end= " ")
    a, b = b, a+b

0 1 1 2 3 5 8 13 21 34

##### 32. Find the factorial of a number using while loop.

In [65]:
n= 5
fact = 1
while n > 0:
    fact *= n
    n -= 1
print("\nFactorial:",fact)

Factorial: 120

##### 33. Input a number and find the sum of its digits using while loop.

In [68]:
n = 1234
s = 0
while n > 0:
    s += n % 10
    n //= 10
print("sum of didgit:",s)

sum of didgit: 10

##### 34. Print all elements of a list in reverse order without using reverse().

In [20]:
z1 = [5,10,15,20,25,30,35,40,45,50]
my_list = z1[::-1]
print(my_list)

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

##### 35. Print a star pattern (triangle) using nested loops

In [7]:
num = int(input("Enter the num:"))
for i in range(num):
    for j in range(i + 1):
        print("*",end = " ")
    print()

Enter the num: 5

*
* *
* * *
* * * *
* * * * *

### 8. File Handling (5 Questions)

##### 36. Write some text into a file and then read and print it.

In [41]:
f = open("123.txt", "w")
f.write("Hello its my fisrt time studying python. It's very important language for coding. We need to practice hard to understand it.")
f.close()

In [42]:
f = open("123.txt", "r")

In [43]:
f.read()

"Hello its my fisrt time studying python. It's very important language for coding. We need to practice hard to understand it."

##### 37. Count the total number of lines in a file.

In [73]:
file = open("123.txt", "r")
line = file.readline()
print("Lines:", len(file.readline()))

Lines: 0

In [74]:
with open("123.txt", "r") as f:
    print("Lines:", len(file.readline()))

Lines: 0

##### 38. Count vowels and consonants in a file.

In [50]:
f = open("123.txt", "r")
text = f.read().lower()
f.close()

vowels = 0
consonants = 0

for ch in text:
    if ch.isalpha():
        if ch in "aeiou":
            vowels += 1
        else:
            consonants += 1

print("Vowels:", vowels)
print("Consonants:", consonants)

Vowels: 34
Consonants: 66

In [75]:
with open("123.txt") as f:
    text = f.read().lower()
vowels = sum(ch in "aeiou" for ch in text)
consonants = sum(ch. isalpha() and ch not in "aeiou" for ch in text)
print("Vowels:",vowels, "Consonants:",consonants)

Vowels: 34 Consonants: 66

##### 39. Convert the content of a file into uppercase and store it in another file.

In [78]:
with open("123.txt") as f:
    data = f.read().upper()
with open("upper.txt", "w") as f:
    f.write(data)
    f.close()

In [83]:
f = open("upper.txt", "r") 
f.read()

"HELLO ITS MY FISRT TIME STUDYING PYTHON. IT'S VERY IMPORTANT LANGUAGE FOR CODING. WE NEED TO PRACTICE HARD TO UNDERSTAND IT."

##### 40. Read a CSV file and print its rows.

In [22]:
import csv
with open("123.txt", newline="") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

["Hello its my fisrt time studying python. It's very important language for coding. We need to practice hard to understand it."]

### 9. OS Module (5 Questions)

In [23]:
import os

##### 41. Print the current working directory using os module.

In [88]:
print(os.getcwd())

C:\Users\Kashish

##### 42. Create a new folder using os module and create a file inside it.

In [90]:
os.mkdir("ABCD")
f = open("ABCD/newfile.txt","w")
f.write("my file is inside ABCD")
f.close()
print("Succesfully create the folder and file")

Succesfully create the folder and file

##### 43. List all files and folders inside a directory.

In [91]:
os.listdir()

['.anaconda',
 '.conda',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.vscode',
 '123.txt',
 'ABC',
 'ABCD',
 'Alphabet',
 'anaconda3',
 'ansel',
 'AppData',
 'Application Data',
 'Assignment.ipynb',
 'Cookies',
 'Documents',
 'Downloads',
 'Local Settings',
 'Music',
 'My Documents',
 'MY Python',
 'myfile.txt',
 'NetHood',
 'New folder',
 'newfolder12',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{8376920c-c597-11ef-b65f-60ff9e83f3c7}.TM.blf',
 'NTUSER.DAT{8376920c-c597-11ef-b65f-60ff9e83f3c7}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{8376920c-c597-11ef-b65f-60ff9e83f3c7}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'PrintHood',
 'Python',
 'Recent',
 'SendTo',
 'Start Menu',
 'Templates',
 'upper.txt',
 'userfunction(def).ipynb',
 'Videos']

##### 44. Check the size of a file using os module.

In [27]:
filename = "123.txt"
size = os.path.getsize(filename)
print(f"File size of {filename} is: {size} bytes")

File size of 123.txt is: 124 bytes

##### 45. Count all .txt files in a directory.

In [38]:
files = os.listdir()
count = 0

for f in files:
    if f.endswith(".txt"):
        count += 1
result = {".txt files:", count}

print(result)

{3, '.txt files:'}

### 10. Try-Exception (5 Questions)

##### 46. Write a program that takes user input and prints its square. Handle errors if input is invalid.

In [42]:
try:
    num = int(input("Enter a number: "))
    print("Square is:", num**2)
except ValueError:    # other then numbers (positive/Negative) it will consider invalid input
    print("Invalid input! Please enter a number.")

Enter a number:  5

Square is: 25

##### 47. Handle ZeroDivisionError with an example program.

In [27]:
try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    result = a / b
    print("Result:", result)
except ZeroDivisionError:
    print("Error! Cannot divide by zero.")

Enter numerator:  5
Enter denominator:  0

Error! Cannot divide by zero.

##### 48. Handle FileNotFoundError with an example program.

In [43]:
try:
    f = open("sample.txt", "r")   
    print(f.read())
    f.close()
except FileNotFoundError:
    print("File not found!")

File not found!

##### 49. Handle both ValueError and TypeError with an example.

In [52]:
try:
    num = int(input("Enter a number: "))   
    result = num + "5"                     # this code will show the error 
    print(result)
except ValueError:
    print("ValueError: Please enter numbers only!")
except TypeError:
    print("TypeError: Cannot add number and string together!")

Enter a number:  5

TypeError: Cannot add number and string together!

##### 50. Write a program with finally block that opens and closes a file

In [53]:
try:
    file = open("example.txt", "w")
    file.write("Hello, Python!")
    print("File written successfully.")

except Exception as e:
    print("An error occurred:", e)

finally:
    file.close()
    print("File closed successfully.")

File written successfully.
File closed successfully.

## END!!!